{% with success = get_flashed_messages(category_filter=["success"])  %}
    {% if success %}
        <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
            {% for message in success %}
            <i class="fas fa-check-circle"></i> {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=["error"])  %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {% for message in error %}
            <i class="fas fa-exclamation"> </i> {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endwith %}